@tailwind base;
@tailwind components;
@tailwind utilities;

/* stateDropdown hover styles */
.option-styles:hover {
	background: #182438;
	cursor: pointer;
}
.option-styles:hover p {
	color: #f7efd8;
}
